<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879645158962-nvtn72j4ok0ngv4hmdee7hkmr80qjfa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879645158962-nvtn72j4ok0ngv4hmdee7hkmr80qjfa6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxj4nGacVBu_6IFbUdQ_hvERStBQXzmho</string>
	<key>GCM_SENDER_ID</key>
	<string>879645158962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.academiaProducts.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>academiaproducts</string>
	<key>STORAGE_BUCKET</key>
	<string>academiaproducts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879645158962:ios:2ebe5238a6a9123ecc162b</string>
</dict>
</plist>